
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
main{
    max-height: 100vh;
}
html{
    font-size: 62.5%;
}/************** 1rem = 10px ******************/
.body ,.body.bg0{
    font-size: 1.8rem;
    background-image: url("../img/home/bg-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.body.bg1{

    font-size: 1.8rem;
    background-image: url("../img/destination/background-destination-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.body.bg2{

    font-size: 1.8rem;
    background-image: url("../img/crew/background-crew-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.body.bg3{

    font-size: 1.8rem;
    background-image: url("../img/technology/background-technology-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.menu_mobile{
    display: none;
}
.crew_radio_mobile{
    display: none;
}
.home{
    display: none;
}

.destinaction{
    display: none;
}
.crew{
    display: none;
}
.technology{
    display: none;
}
.home.ativo{
    display: block;
}
.destinaction.ativo{
    display: block;
}
.crew.ativo{
    display: flex;
  
}
.technology.ativo{
    display: block;
}
.moon{
    display: none;
}
.mars{
    display: none;
}
.europa{
    display: none;
}
.titan{
    display: none;
}

.moon.ativo{
    display: block;
}
.mars.ativo{
    display: block;
}
.europa.ativo{
    display: block;
}
.titan.ativo{
    display: block;
}

li{
    cursor: pointer;
}
/************************************************************************************************************************/

/************************************************************************************************************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 0vh;
}
figure img{
    margin-left: 2vw;
    width: 4rem;
}
.navbar_list{
    position: relative;
    display: flex;
    gap:2rem;
    padding: 3vh 12vh;
    background-color:rgba(39, 35, 35, 0.616);
}
.navbar_list::before{
    display: block;
    content: "";
    width:32vw ;
    height: 0.2rem;
    position: absolute;
    right: 96%  ;
    top:47%;
    background-color:rgba(85, 78, 78, 0.699);
}
.navbar_list li:nth-child(4){
    margin-right: 5vw;
}
.navbar_list li{
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
    width: 14rem;
    padding: 0.3rem;
}
.container_home{
    display: none;
}
.container_home{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 18vh;
    padding: 0 10vw;
}
.content_home {
/***************************************************************************************************************************/
}
.content_home span{
    font-size: 2.5rem;
}
.content_home h1{
    font-size: 13.5rem;
}
.content_home p{
    font-size: 1.6rem;
}
.explore{
    height: 20rem;
    border-radius: 50%;
    background-color: #fff;
    color:#000;
    text-align: center;
    line-height: 20rem;
    font-size: 4rem;
    flex: 0 0 20rem;
}


/*Destination*/
/*
.container_destinaction
.content_destinaction

*/

.container_destination{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 02vh 8vw;
}
.container_destination h1 , .container_crew h1{
    font-size: 2rem;
    font-weight: 200;
}
.plant_img{
    width: 25vw;
    margin-left: 2vw;
    margin-top: 14vh;
}
.navbr_destination{
    min-width: 35vw;
}
.navbr_list_dest{
    display: flex;
    gap:1.5rem;
    margin-bottom: 2vw;
    max-width: 20vw;
}
.navbr_list_dest li{
    display: block;
    height: 2rem;
} 
.content_planeta h1{
    font-size: 9rem;
    margin: 3vh 0;
}

.content_planeta_viagem{
    border-top: 0.2rem solid rgba(73, 73, 75, 0.671);
    margin-top: 3vh;
    padding: 3vh 0;
    display: flex;
    gap:4rem;
}

.content_planeta_viagem div > span{
    font-size: 3rem;

}
.content_planeta_viagem div > span:nth-child(1){
    color: rgba(255, 255, 255, 0.829);
    font-size: 1.2rem;
}
/*****************************************  CREW                       */

.crew{
    padding: 0 8vw;
    flex-wrap: wrap;
    gap:9vw;
}
.container_crew{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap:15vh;
    width: 40vw;
}
.content_crew{
    display: flex;
    flex-direction: column;
    gap: 04vh;
}

.crew_content_int > span {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.829);
    font-size: 3rem;
}
.crew_content_int h2{
    margin-bottom: 5vh;
    font-size: 5rem;
}
.crew_content_int p{
    font-size: 1.6rem;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.829);
}
.box_img_crew{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 81vh;
}
.img_crew{
    width: 42rem;
}





@media (max-width:1280px) {
    .navbar_list::before{
        display: none;
    }
    
}

@media (max-width:768px) {
    html{
        font-size:65%;
    }
    header{
        padding: 0;
    }
    .body ,.body.bg0{
        background-image: url("../img/home/background-home-tablet.jpg");
    }
    .body.bg1{
        background-image: url("../img/destination/background-destination-tablet.jpg");
    }
    .body.bg2{
       background-image: url("../img/crew/background-crew-tablet.jpg");
    }
    
    .body.bg3{
        background-image: url("../img/technology/background-technology-tablet.jpg");
    }
    
    /*home tablet*/
    .navbar_list{
        padding: 3vh;
        gap:1rem;
        font-size: 1.3rem;
     
    }
    .navbar_list li{
        width: 10rem;
    }
    .navbar_list li:nth-child(4){
        margin: 0;
    }
    .container_home{
        flex-direction: column;
        align-items: center;
        margin: 6vh;
        gap:12vh;
    }
    .content_home{
        text-align: center;
    }
    .content_home h1{
        font-size: 18rem;
    }
    .content_home p{
        font-size: 2.1rem;
        margin-top: 3vh;
    }
    .explore{
        width: 20rem;
    }
    /**************************/
    /**tablet destinaction*/
    .content_destination{
        display: flex;
        flex-direction: column;
        padding: 4vh 0;

    }
    .content_destination h1, .container_crew>div>h1{
        position: absolute;
        left: 3vh;
    }
    .plant_img{
        align-self: center;
        width: 32rem;
        margin-top:8vh;
    }
    .container_destination{
        flex-direction: column;
        align-items: center;
    }
    .navbr_list_dest{
        min-width: 100%;
        justify-content: center;
    }
    .content_planeta{
        text-align: center;
    }
    .content_planeta_viagem{
        display: flex;
        justify-content: center;
    }
     /**************************/
    /**tablet crew*/
    .crew{
        flex-direction: column;
        align-items: center;
    }
    .container_crew{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 70vw;
        gap:8vh;
        padding: 3vh 0;
       
    }
    .content_crew{
        align-items: center;
        gap:3vh;
    }
  
    .img_crew{
        width: 50vw;
    }
}
@media (max-width:425px) {
    html{
        font-size: 33%;
    }

    .body ,.body.bg0{
        background-image: url("../img/home/background-home-mobile.jpg");
    }
    .body.bg1{
        background-image: url("../img/destination/background-destination-mobile.jpg");
    }
    .body.bg2{
       background-image: url("../img/crew/background-crew-mobile.jpg");
    }
    
    .body.bg3{
        background-image: url("../img/technology/background-technology-mobile.jpg");
    }
   /*menu mobile*/
    .navbar_list {
        display:none;
    }
    .navbar_list.mobile{
        background-color: rgb(194, 194, 24);
        display: flex;
        flex-direction: column;
        gap:7vh;
        position: absolute;
        top:6vh;
        right: 0;
        height: 94vh;
        width: 60vw;
        font-size: 4rem;
        
    }
    header{
        padding-top:2vh ;
    }
    .navbar_list li{
        width: auto;
    }
    .menu_mobile{
        display: block;
        margin-right: 1vh;
    }
    .menu_mobile img{
        width: 3.5rem;
    }
    
    .crew{
        flex-direction: column-reverse;
        gap:0px;
        margin-top: 10vh;
    }
    .container_crew{
        gap:0vh;
        justify-content: space-between;
    }
    
    .crew_radio{
        display: none;
    }
    .crew_radio_mobile{
        display: block;
    }
    .container_crew h1{
        top:12vh;
    }
    .box_img_crew{
        justify-content: flex-end;
        height: auto;
        margin-bottom: 0vh;
    }
    
    .img_crew{
        margin-top: 13vh;
        width: 405w;
    }
    

}
@media (max-width:320px) {

    .container_home{
        gap:16vh;

    }
    .box_img_crew{
        height: 38vh;
    }
}