
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
html{
    font-size: 62.5%;
}/************** 1rem = 10px ******************/
.body_0{
    font-size: 1.8rem;
    background-image: url("../img/home/bg-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.body_1{

    font-size: 1.8rem;
    background-image: url("../img/destination/background-destination-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.body_2{

    font-size: 1.8rem;
    background-image: url("../img/crew/background-crew-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.home{
    display: none;
}

.destinaction{
    display: none;
}
.crew{
    display: none;
}
.technology{
    display: none;
}
.home.ativo{
    display: block;
    min-height: 100vh;
}
.destinaction.ativo{
    display: block;
    min-height: 100vh
}
.crew.ativo{
    display: block;
    min-height: 100vh;
}
.technology.ativo{
    display: block;
    min-height: 100vh;
}
.moon{
    display: none;
}
.mars{
    display: none;
}
.europa{
    display: none;
}
.titan{
    display: none;
}

.moon.ativo{
    display: block;
}
.mars.ativo{
    display: block;
}
.europa.ativo{
    display: block;
}
.titan.ativo{
    display: block;
}

li{
    cursor: pointer;
}
/************************************************************************************************************************/
li::after{
    content: "";
    display: block;
    height: 0.2rem;
    width: 100%;
    background-color: red;
    margin: 1rem;
}
/************************************************************************************************************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 0vh;
}
figure img{
    margin-left: 2vw;
    width: 4rem;
}
.navbar_list{
    position: relative;
    display: flex;
    gap:2rem;
    padding: 3vh 12vh;
    background-color:rgba(39, 35, 35, 0.616);
}
.navbar_list::before{
    display: block;
    content: "";
    width:32vw ;
    height: 0.2rem;
    position: absolute;
    right: 96%  ;
    top:47%;
    background-color:rgba(85, 78, 78, 0.699);
}
.navbar_list li:nth-child(4){
    margin-right: 5vw;
}
.navbar_list li{
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
    width: 14rem;
    padding: 0.3rem;
}
.conteiner_home{
    display: none;
}
.conteiner_home{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 18vh;
    padding: 0 10vw;
}
.content_home {
/***************************************************************************************************************************/
}
.content_home span{
    font-size: 2.5rem;
}
.content_home h1{
    font-size: 13.5rem;
}
.content_home p{
    font-size: 1.6rem;
}
.explore{
    height: 20rem;
    border-radius: 50%;
    background-color: #fff;
    color:#000;
    text-align: center;
    line-height: 20rem;
    font-size: 4rem;
    flex: 0 0 20rem;
}


/*Destination*/
/*
.conteiner_destinaction
.content_destinaction

*/
.destinaction{
   min-height: 100vh;
}
.conteiner_destination{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 01vh 9vw;
}
.conteiner_destination h1{
    font-size: 2rem;
    font-weight: 200;
}
.plant_img{
    width: 25vw;
    margin-left: 2vw;
    margin-top: 18vh;
}
.navbr_destination{
    min-width: 35vw;
}
.navbr_list_dest{
    display: flex;
    gap:1.5rem;
    margin-bottom: 2vw;
    max-width: 20vw;
}
.navbr_list_dest li{
    display: block;
    height: 2rem;
} 
.navbr_list_dest li:hover{
    border-bottom:  1px solid yellow;
}

.content_planeta h1{
    font-size: 10rem;
    margin: 3vh 0;
}

.content_planeta_viagem{
    border-top: 0.2rem solid rgba(73, 73, 75, 0.671);
    margin-top: 3vh;
    padding: 3vh 0;
    display: flex;
    gap:4rem;
}

.content_planeta_viagem div > span{
    font-size: 3rem;

}
.content_planeta_viagem div > span:nth-child(1){
    color: rgba(255, 255, 255, 0.829);
    font-size: 1.2rem;
}
/*****************************************  CREW                       */

.crew{
    width: 100vw;
    padding: 0 9vw;
}
.conteiner_crew{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap:15vh;
 
}
.content_crew{
    display: flex;
    flex-direction: column;
    gap: 8vh;
}
.conteiner_crew h1{
    font-size: 2rem;
    font-weight: 200;
}

.crew_content_int > span {
    margin-bottom: 1rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.829);
    
}
.crew_content_int h2{
    margin-bottom: 5vh;
    
}
.crew_content_int p{
    color: rgba(255, 255, 255, 0.829);
}
.img_crew{
    width: 42rem;
    position: absolute;
    right: 10%;
    bottom: 0%;
}





@media (max-width:1280px) {
    .navbar_list::before{
        display: none;
    }
    
}

@media (max-width:768px) {
    html{
        font-size:65%;
    }
    header{
        padding: 0;
    }
    body{
        background-image: url("../img/home/background-home-tablet.jpg");
        background-size:cover;
        background-repeat: no-repeat;
    }
    /*home tablet*/
    .navbar_list{
        padding: 3vh;
        gap:1rem;
        font-size: 1.3rem;
    }
    .navbar_list li{
        width: 10rem;
    }
    .navbar_list li:nth-child(4){
        margin: 0;
    }
    .conteiner_home{
        flex-direction: column;
        align-items: center;
        margin: 6vh;
        gap:12vh;
    }
    .content_home{
        text-align: center;
    }
    .content_home h1{
        font-size: 18rem;
    }
    .content_home p{
        font-size: 2.1rem;
        margin-top: 3vh;
    }
    .explore{
        width: 20rem;
    }
    /**************************/
    /**tablet destinaction*/
    .content_destination{
        display: flex;
        flex-direction: column;
        padding: 4vh 0;

    }
    .content_destination h1, .conteiner_crew>div>h1{
        position: absolute;
        left: 3vh;
    }
    .plant_img{
        align-self: center;
        width: 32rem;
        margin:4vh  0;
    }
    .conteiner_destination{
        flex-direction: column;
        align-items: center;
    }
    .navbr_list_dest{
        min-width: 100%;
        justify-content: center;
    }
    .content_planeta{
        text-align: center;
    }
    .content_planeta_viagem{
        display: flex;
        justify-content: center;
    }
     /**************************/
    /**tablet crew*/
    .crew{
        width: auto;
    }
    .conteiner_crew{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap:8vh;
        padding: 3vh 0;
       
    }
    .content_crew{
        align-items: center;
        gap:3vh;
    }
    .img_crew{
        width: 70%;
        bottom:0% ;
        left: 15%;
    }
}
@media (max-width:425px) {
    html{
        font-size: 33%;
    }

}